<?xml version="1.0" encoding="UTF-8" ?>
<!--类型约束     Schema  dtd-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!--配置文件的根节点  ，一个xml中的根节点只能有一个 -->

    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="autoMappingBehavior" value="FULL"/>
    </settings>

    <typeAliases>
        <!--  <typeAlias type="cn.mybatis.day01base.entity.Movie" alias="Movie"></typeAlias>-->
        <package name="cn.student.entity"/>
    </typeAliases>
</configuration>